# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Coding\elm-application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
